body {
    font-family: 'Poppins', sans-serif; /* A more modern font */
    text-align: center;
    padding: 20px;
    color: #FFFFFF;
    background: #f0f2f5; /* A light background to contrast with the hero section */
}

input[type=text], button {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

input[type=text] {
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #6c63ff; /* A pleasant purple shade */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #5753c9; /* Darker shade on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Adding depth on hover */
}

#transcription, #response_GPT {
    margin-top: 20px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 500px; /* Ensuring it's not too wide on larger screens */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); /* A more vibrant gradient */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
